@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinnerStyle {
  animation: spin 1s linear infinite;
  color: #9e9e9e;
  animation-name: nprogress-spinner;
}
