.alignCenter {
  text-align: center;
}

.centerItems {
  display: flex;
  align-items: center;
  justify-content: center;
}

.linkPadding {
  padding-left: 4px;
}

.body1 {
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87);
}
