.delegate-bp-item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 23px;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
}

.flex {
  display: flex;
}

.delegate-bp-item-checkbox {
  cursor: pointer;
  width: 18px;
}

.delegate-bp-item-rank-padding {
  align-items: center;
  padding: 0 25.5px;
  display: flex;
}

.delegate-bp-item-proxy-padding {
  padding: 0 39.5px 0 75px;
}

.delegate-bp-item-seleted {
  background: #f4f8ff;
}

.h6 {
  font-size: 20px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87);
}
