.avatar-container {
  position: absolute;
  border-radius: 50%;
  min-height: 56px;
  min-width: 56px;
  display: flex;
}

.app-avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
  margin: auto;
}

.avatar-icon {
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 0;
}
