.icon {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  color: #fff;
  border: none;
  background-color: #2563eb;
  cursor: pointer;
  transition-duration: 1s;
  &:hover {
    opacity: 0.8;
  }
}

.primary {
  display: flex;
  align-items: center;
  padding: 14px 24px;
  color: #fff;
  text-transform: uppercase;
  background-color: #2563eb;
  border: none;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 24%);
  cursor: pointer;
  transition-duration: 1s;
  &:hover {
    opacity: 0.8;
  }
}

.secondary {
  display: flex;
  align-items: center;
  padding: 12px 22px;
  color: #2563eb;
  text-transform: uppercase;
  border: 2px solid #2563eb;
  background-color: #fff;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 24%);
  cursor: pointer;
  transition-duration: 1s;
  &:hover {
    background-color: rgb(0 0 0 / 5%);
  }
}

.button-icon {
  padding-right: 15px;
}
