.delegate-bp-item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 23px;
}

.flex {
  display: flex;
}

.delegate-bp-item-checkbox {
  cursor: pointer;
  width: 18px;
}

.delegate-bp-item-rank-padding {
  padding: 0 25.5px;
}

.delegate-bp-item-proxy-padding {
  padding: 0 39.5px 0 75px;
}

.h6 {
  font-size: 20px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87);
}