.delegate-bp-item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 23px;
}

.flex {
  display: flex;
}

.delegate-bp-item-checkbox {
  margin-right: 23px;
  cursor: pointer;
  width: 18px;
}
